<%- include('navbar') %>
<div class="container-fluid">
  <br />
  <br />
  <div class="row editanews">
    <div class="px-5 mt-5 text-secondary">
      <h4>NEWSLETTER</h4>
      <h6 class="text-danger"><%- message %></h6>
      <br />
      <a href="/"
        ><button type="button" class="btn btn-secondary btn-sm">
          Regresar a la página principal
        </button></a
      >
      <br />
      <br />
    </div>
  </div>
</div>
<%- include('footer') %>
